body {
    font-family: 'Nunito', sans-serif;
    max-width: 600px;
    margin: auto;
}
h1 {
    color: green;
}
p {
    line-height: 1.5;
}
article + article {
    margin-top: 40px;
}
article a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
.post-date {
    font-size: 12px;
    color: grey;
}